@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(media/background.jpg); /* Background from https://www.pexels.com/photo/assorted-books-on-the-shelf-990432/ */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: "Lora", serif;
}

/* Library Title */
.library {
	position: relative;
	margin-top: 5vh;
	color: #b38b6d;
	text-align: center;
	font-size: 60px;
	font-family: "Lora", serif;
	z-index: -1;
}

.title-line {
	position: relative;
	height: 2px;
	width: 250px;
	margin: auto;
	bottom: 10px;
	background-color: #a0522d;
	border-radius: 5px;
}
/* End Title */

/* Card for Add Book */
.add-book {
	margin: 20px;
	width: 200px;
	height: 275px;
	background-color: rgb(27, 30, 43);
	border: 2px solid #a0522d;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 15px 15px 15px 3px rgba(0, 0, 0, 0.75);
}

.circle {
	position: relative;
	top: 25%;
	margin: auto;
	width: 150px;
	height: 150px;
	background-color: rgb(41, 45, 62);
	border-radius: 50%;
}

.vertical {
	position: relative;
	width: 100px;
	height: 10px;
	top: 45%;
	left: 25px;
	background-color: #b38b6d;
}

.horizontal {
	position: relative;
	height: 100px;
	width: 10px;
	left: 47.5%;
	top: 15px;
	background-color: #b38b6d;
}
/* End card for add book */

.book-list {
	width: 80vw;
	margin: auto;
	margin-top: 5vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

/* Book cards */
.book-card {
	position: relative;
	color: #b38b6d;
	width: 200px;
	height: 275px;
	padding: 10px;
	margin: 20px;
	background-color: rgb(27, 30, 43);
	border: 2px solid #a0522d;
	border-radius: 10px;
	box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 0.75);
}

.card-footer {
	position: absolute;
	bottom: 30px;
	width: 176px;
	height: 10%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: space-between;
}

.card-footer button {
	color: #b38b6d;
	height: 50px;
	width: 84px;
}

.change-status {
	background-color: #0f3c00;
}

.delete-book {
	background-color: #5b342e;
}
/* End book cards */

/* Inputs within modal */
#book-form {
	height: 50%;
	display: flex;
	flex-direction: column;
}

.form-group,
.status-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #b38b6d;
}

.form-group input {
	height: 30px;
	margin: 5px 10px;
	padding: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	background-color: rgb(41, 45, 62);
	color: #b38b6d;
	font-weight: bold;
}

.status-group {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	margin: 10px 0;
}

.status-label {
	color: #b38b6d;
	margin-bottom: 10px;
}

.radio {
	display: inline-flex;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.radio-input {
	display: none;
}
.radio-label {
	padding: 8px 14px;
	font-size: 14px;
	font-family: "Lora", serif;
	color: #b38b6d;
	background-color: rgb(41, 45, 62);
	cursor: pointer;
	transition: background 0.2s;
}

.radio-label:not(:last-of-type) {
	border-right: 1px solid rgb(27, 30, 43);
}

.radio-input:checked + .radio-label {
	background: rgb(27, 30, 43);
}

.submit-book,
.confirm-change-status {
	position: relative;
	margin: 5px;
	padding: 5px;
	height: 30px;
	width: 45%;
	align-self: center;
	font-family: "Lora", serif;
	font-weight: bold;
	border-style: none;
	background-color: none;
	color: #b38b6d;
	background-color: #0f3c00;
	border-radius: 5px;
	cursor: pointer;
}
/* End inputs within modal */

/* Modal */
.modal-bg,
.status-modal-bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s ease-in-out, opacity 0s ease-in-out;
}

.bg-active {
	visibility: visible;
	opacity: 1;
}

.modal,
.status-modal {
	position: relative;
	width: 500px;
	padding: 30px 0;
	background-color: rgb(27, 30, 43);
	border: 2px solid #a0522d;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.modal-close,
.status-modal-close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-weight: bold;
	cursor: pointer;
	color: #b38b6d;
}
/* End Modal */
